<!--
  Generated template for the CreditsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="background">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Credits</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      Flags designed by Freepik from <a href="https://www.flaticon.com/packs/international-flags">Flaticon</a>
    </ion-card-content>
  </ion-card>

</ion-content>
