<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  

  <ion-navbar color="background">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <h2>Hello!</h2>
      <br>
      <p>Welcome to Offline Currency Converter! </p>
      <p>The aim of this app is to provide two key capabilities for travellers. </p>

      <br>
      <p> <b>1. </b> Provide currency exchange rates offline (for about 160 + currencies). </p>
      <br>
      <p> <b>2. </b> Help calculate the change you should receive when you pay in one currency 
        and expect to receive change in another. </p>      
    </ion-card-content>
    <img src="assets/icon/icon.png">

  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2>
        <b>Disclaimer</b>
      </h2>
    </ion-card-header>
    <ion-card-content>
      To provide you with the capability to get exchange rates offline we download exchange rates for USD 
      to other currencies and use it to calculate the exchange rate for your needs. As a result of this 
      the rates provided here are off by a about 2 to 3 %. So please use this app with this in mind and 
      we do not take any responsibility for any loss you may incur as a result of using exhange rates provided 
      here.   
    </ion-card-content>
    <ion-card-content>
      © Copyright 2017 Saravanan Duraisamy
    </ion-card-content>
  </ion-card>

</ion-content>
