<ion-header>
  <ion-navbar color="background">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Change Calculator
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="reverseCurrency()">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="dataFlag">
    <ion-item>
      <ion-label stacked>Paying Currency</ion-label>
      <ion-select [(ngModel)]="payingCurr" (ionChange)="calculate()">
        <ion-option *ngFor="let currCode of currencyCodes" [value]=currCode.code>
          {{currCode.code}} {{currCode.country}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Paying Amount in {{payingCurr}} {{payingCurrSymbol}}</ion-label>
      <ion-input [(ngModel)]="payingAmt" type="number" (ionChange)="calculate()" min="0"></ion-input>
      
    </ion-item>    
    <ion-item>
      <ion-label stacked>Receiving Currency </ion-label>
      <ion-select [(ngModel)]="receivingCurr" (ionChange)="calculate()">
        <ion-option *ngFor="let currCode of currencyCodes" [value]=currCode.code>
          {{currCode.code}} {{currCode.country}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cost of Goods in Receiving Currency {{receivingCurr}} {{receivingCurrSymbol}}</ion-label>
      <ion-input [(ngModel)]="costReceivingCurr" type="number" (ionChange)="calculate()" min="0"></ion-input>
    </ion-item>
    <ion-item>
        <ion-row>
          <ion-col col-4>
            <img [src]="payingCurrFlag" class="imageHeight">
          </ion-col>
          <ion-col col-4 class="iconAlign">
            <ion-icon name="arrow-round-forward" ></ion-icon>
          </ion-col>
          <ion-col col-4>
            <img [src]="receivingCurrFlag" class="imageHeight">
          </ion-col>
        </ion-row>  
                 
      
    </ion-item>
    <ion-item>
      <p>Expected Receiving Amount in {{receivingCurr}}</p>
      <br>
      <h1 align="right">{{receivingAmt | currency:receivingCurr:true:'1.2-2' }}</h1>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="ratesFlag">
    <ion-card-content>
      No rates data available. Please turn on your internet, so that the app can download the rates data from the server. 

    </ion-card-content>
  </ion-card>


</ion-content>
