<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="background">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Help</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <p>For any queries, issues or suggestions please email at </p>
      <br>
      
        <a href="mailto:offcurrconv.help@gmail.com">offcurrconv.help@gmail.com</a>

      <br>
      <br>
      <p>Click on the topic of choice below to read more.</p>  
    </ion-card-content>
  </ion-card>
  <ion-card>

  <ion-list>
    <button ion-item detail-none (click)="expandItem(0)">
      Convert Currency
      <ion-icon style="float:right" name="arrow-dropdown" *ngIf="!expanded[0]"></ion-icon>
    <ion-icon style="float:right" name="arrow-dropup" *ngIf="expanded[0]"></ion-icon>
      <expandable [expanded]="expanded[0]">
        <br>
        <p>We all have been in that difficult spot where you are on vacation in some country and you ran out of local money. 
        You go to a exchange place close by and try to get some local currency.
        Often times you have no idea what should be the correct exchange rate and your phone has no internet because you are travelling.         
      </p>      
      <br>      
      <p>  
        <b>Solution </b> This app works totally offline and gives you a pretty accurate exchange rate. Whenever you 
        turn on your wifi or internet this app downloads in the background the latest set of exchange rates from our servers. 
        Now the data is available to use any time and anywhere. In the home page pick the currency you want
        pay in, put the amount you are paying and pick the currency you will be receiving. The app gives you the 
        total amount you will be receiving.  
      </p>
  
      </expandable>
    </button>
    <button ion-item detail-none (click)="expandItem(1)">
      Calculate Change
      <ion-icon style="float:right" name="arrow-dropdown" *ngIf="!expanded[1]"></ion-icon>
    <ion-icon style="float:right" name="arrow-dropup" *ngIf="expanded[1]"></ion-icon>
      <expandable [expanded]="expanded[1]">
        <br>
        <p>
        You are at a airport or some souvenir shop in some corner of the world and the store accepts
        one of the major currencies that you are carrying with you like the USD or EUR. But will give back 
        the change in their local currency. Most times you are standing there wondering whether you got back 
        the correct amount of change.      
        </p>     
        <br>   
        <p>
        <b>Solution </b> Well all you need to do is to open the Change calculator in the app. Enter the currency you are paying in,
        amount you are paying, the total cost of goods you are buying and the currency in which you are expected to get the change.
        The app then calculates the amount of change you are expected to receive.  
        </p>
  
      </expandable>
    </button>
    <button ion-item detail-none (click)="expandItem(2)">
      Settings
      <ion-icon style="float:right" name="arrow-dropdown" *ngIf="!expanded[2]"></ion-icon>
    <ion-icon style="float:right" name="arrow-dropup" *ngIf="expanded[2]"></ion-icon>
      <expandable [expanded]="expanded[2]">
        <br>
        <p>
          Use the Settings Page to set your home and frequent foreign currency. 
        </p>
        <br>
        <p>  
          You can also set the back ground rates fetch off / on. We recommend you to leave it on if you are 
          travelling so that the App is able to get the rates in the background whenever you have internet and 
          provide you with the most up to date rates. 
        </p>
        <br>
        <p>  
          You can also see the last rates update date and time in settings.      
        </p>
        <br>
        <p>
        <b>Note: </b> Please make sure to restart the app if you happen to restart your phone. If you forget to 
        restart the app after a phone restart the rates fetch in background will not happen. 
        </p>    
      </expandable>
    </button>
  </ion-list>
  </ion-card>

</ion-content>
