<ion-header>
  <ion-navbar color="background">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="dataFlag">
    <ion-item-divider>
      <h1>Currency Settings</h1>
    </ion-item-divider>
   
    <ion-item>
      <ion-label stacked>Home Currency &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <img [src]="homeCurrFlag" width="16px"> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{homeCurrSymbol}}</ion-label>
      <ion-select [(ngModel)]="settings.homeCurr" (ionChange)="setCurrenciesAndRatesFlag()" >
        <ion-option *ngFor="let currCode of currencyCodes" [value]="currCode.code">
          {{currCode.code}} {{currCode.country}}
        </ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Frequent Foreign Currency &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <img [src]="frequentForeignCurrFlag" width="16px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{frequentForeignCurrSymbol}}  </ion-label>
      <ion-select [(ngModel)]="settings.frequentForeignCurr" (ionChange)="setCurrenciesAndRatesFlag()">
        <ion-option *ngFor="let currCode of currencyCodes" [value]="currCode.code">
          {{currCode.code}} {{currCode.country}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item-divider>
      <h1>Data Settings</h1>
    </ion-item-divider>
    <ion-item>
      <ion-label text-wrap>Enable Background Rates Fetch</ion-label>
      <ion-toggle [(ngModel)]="settings.ratesFetch" (ionChange)="setGetRatesFlag()"></ion-toggle>
    </ion-item>
    <ion-item>
      <h3>Rates Updated @ </h3>
      <br>
      <h2>{{lastUpdate | date:'medium'}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
