@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon/fonts/icomoon.eot?cedu8k');
  src:  url('../assets/fonts/icomoon/fonts/icomoon.eot?cedu8k#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/fonts/icomoon.ttf?cedu8k') format('truetype'),
    url('../assets/fonts/icomoon/fonts/icomoon.woff?cedu8k') format('woff'),
    url('../assets/fonts/icomoon/fonts/icomoon.svg?cedu8k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ci-coins:before,
.ion-ios-ci-coins:before,
.ion-ios-ci-coins-outline:before,
.ion-md-ci-coins:before,
.ion-md-ci-coins-outline:before, {
  content: "\e900";
  font-size: 26px;
}
